/* start of stylesheet for site */
body {
    background-color: #435045; /* new background */
    font-family: 'Open Sans', sans-serif;
}


a {
    font-family: 'Open Sans', sans-serif;
}
.blog-a:hover {
color: black;
}

p {
    color: white;
}