body{
  background-color: #2BD837;
  font-family: 'Open Sans', sans-serif;
}
.nav-link{
  color:white;
}
.nav-link{
    text-decoration: underline;
}
.car-item{
  width:100%;
 max-height: 245px !important;
}
.front-image{
  height: 146px;
  max-height: 146px;
  object-fit: contain;
}
h4{
  text-align: center;
}

a {
    font-family: 'Open Sans', sans-serif;
}
.blog-a{
  color:white
}
.blog-a:hover {
color: black;
}
.coming-soon{
    font-size: 5rem;
    text-align: center;
    margin:0 auto;
}
#comment-section{
  list-style: none;
  margin: 0;
  padding: 0;
}
