body{
  background-color: #2BD837;
  font-family: 'Open Sans', sans-serif;
}
.nav-link{
  color:white;
}
.nav-link{
    text-decoration: underline;
}
.car-item{
  width:100%;
 max-height: 300px !important;
}
h4{
  text-align: center;
}

a {
    font-family: 'Open Sans', sans-serif;
}
.blog-a{
  color:white
}
.blog-a:hover {
color: black;
}
.coming-soon{
    font-size: 5rem;
    text-align: center;
    margin:0 auto;
}
